*{
    margin: 0;
    padding: 0;
}
body{
    background-image: url(bg.jpg);
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.box{
padding: 100px 60px ;

background-color: blue;
}
.container h1{
 font-size: 80px;
 color: white;
}