*{
    margin: 0;
    padding: 0;
}
body{
    background-color: gray;
}
.container{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}
.container h1{
 font-size: 80px;
 color: white;
}